.gameSelect {
    margin-bottom: 20px;
    width: 120px;
    height: 300px;
    bottom: 300px;
    left:400px;
}
.buttonContainer {
    display: inline-block;
    width: 45%;
    flex-basis: 100px;
    height: 100px;
    margin: 5px;
}
.windowsContainer {
    display: flex;
    width: 100%;
    text-align: center;;
}

.ownGameButton {
    margin-left: 10px;
}

.joinButton, .ownGameButton, .resumeButton, .deleteGame {
    margin: 30px 0 30px 15px;
}
.joinButton:disabled {
    opacity: 0.5;
    cursor: default;
}

.resumeButton:disabled {
    opacity: 0.5;
    cursor: default;
}
.deleteGame:disabled {
    opacity: 0.5;
    cursor: default;
}

.ownGame:disabled {
    opacity: 0.5;
    cursor: default;
}

button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #428bca;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #3071a9;
}

h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 1em;
}
body {
    background-color: #f2f2f2;
}

.gameSelectorContainer {
    display: inline-block;
    width: 45%;
    flex-basis: 100px;
    height: 100px;
    margin: 5px;
}

#gameSelector, #unfinishedGames {
    display: block;
    margin: 10px auto;
    padding: 5px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    max-width: 400px;
}

#gameSelector, #unfinishedGames:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 8px #66afe9;
}

.hidden {

}

#locales, #sizeBoard {
    position: absolute;
    top: 0;
    left: 150px;
    margin: 10px;
}

label[for=locales] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-weight: bold;
}