<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Battle Ship add ship</title>
    <style>
        .tableResponse {
            border: 2px solid;
            background-color: blue;
            width: 400px;
        }
        .row {
            width: 50px;
            height: 30px;
            border: 1px solid;
        }
        .cell {
            width: 50px;
            height: 30px;
            border: 1px solid;
        }
        .button {
            background-color: transparent;
            border: none;
            height:32px;
            width:32px;
            margin: auto;
            display: block;
        }
        .board
        {
            float: left;
        }

        #renderTable
        {
            /*pointer-events:none;*/
        }
    </style>

</head>
<body>

<div align="center" id="container">
    <div id="board">
        <h1 th:text="|#{addShip}|">Add Ship</h1>
        <h3 id="ownerBoard" th:text="|#{boardPlayer1}|">Board's player 1</h3>

        <label th:text="#{sizeShip}">Wielkość statku:</label>

        <select id="len" th:name="length">
            <option th:each="length :${shipSize}" th:value="${length}" th:text="${length}"></option>
        </select>

        <label th:text="#{orient}">Orientacja:</label>

        <select id="orientation" th:name="position">
            <option th:each="o :${orientList}" th:value="${o}" th:text="${o}"></option>
        </select>
        <br>
        <br>

        <div id="renderTable"></div>
        <br>
        <br>
        <br>
        <button id="accept" style="height: 50px; width: 100px" value="0" disabled>Accept</button>
        <button id="backAction" style="height: 50px; width: 100px" value="0" disabled>Back</button>
    </div>
    <div id="numberShip">
       <p>Liczba staków na planszy: <span id="ShipNumber" th:text="${shipLimit}" ></span></p>

    </div>

</div>

<!--type="text/javascript" src="/static/scriptAppAdd_Ship.js"-->
<script th:inline="javascript">

   function adderShip(event) {
      var length = document.getElementById("len").value;
      var position = document.getElementById("orientation").value;
      var xstart;
      var target = event.target, col, row;

      col = target.parentElement;
      row = col.parentElement;
      ystart = row.rowIndex;
      xstart = col.cellIndex;

      new BattleShipClient().addShip(length, xstart, ystart, position, (status, responseBody) => {
          //ten warunek chyba jest niepotrzebny bo numer status sprawdzam w call
          if (status >= 200 && status <= 299) {
              //reset parametrów do domyślnych
              document.getElementById("len").value = 1;
              document.getElementById("orientation").value = "VERTICAL";
              document.getElementById("backAction").disabled = false;

              //wymyślić inny warunek dla odblokowania przycisku
              if(responseBody[0].ships.length <= shipNumber && responseBody[1].ships.length === 0) {
                  renderShip(responseBody[0])

                  if(responseBody[0].ships.length === shipNumber) {
                      document.getElementById("renderTable").style.pointerEvents = "none";
                      document.getElementById("accept").disabled = false;

                      document.getElementById("accept").addEventListener("click", function () {
                          renderShip(null);
                          document.getElementById("renderTable").style.pointerEvents = "auto";
                          document.getElementsByClassName("button").disabled = false;
                          document.getElementById("accept").disabled = true;
                          document.getElementById("ownerBoard").innerText = "Board's player 2";
                      },false);
                  }
              } else if(responseBody[0].ships.length === shipNumber && responseBody[1].ships.length <= shipNumber) {
                  renderShip(responseBody[1])

                      if(responseBody[1].ships.length === shipNumber) {
                          document.getElementById("renderTable").style.pointerEvents = "none";
                          document.getElementById("accept").disabled = false;

                          document.getElementById("accept").addEventListener("click", function () {
                              document.getElementById("accept").disabled = true;
                              window:location.replace("http://localhost:8080/view/added_Ship");
                          },false);
                      }
              }
          }

      }, (status, responseBody) => {
          if (status >= 400 && status <= 499) {
               alert(responseBody);
               //Uwaga: sprawdź czy po wyrzuceniu błędu statek mimo to nie jest dodawny do listy!
           }
       });
   }
   document.getElementById("backAction").addEventListener("click", function() {
        console.log("Addlistener backAction");
       let owner = document.getElementById("ownerBoard").textContent;

       if(owner.endsWith("1")) {
           console.log("Przed klientem  plus pokaż onwera " + owner);
           new BattleShipClient().deleteLastAddedShip(0, (status, responseBody) =>  {
               if (status >= 200 && status <= 299) {
                   alert("Usunięto ostatnio dodany statek!");
                   renderShip(responseBody[0]);
               }
           }, (status, responseBody) => {
               alert("Błąd " + status);
           })
       } else {
           new BattleShipClient().deleteLastAddedShip(1, (status, responseBody) =>  {
               if (status >= 200 && status <= 299) {
                   alert("Usunięto ostatnio dodany statek!");
                   renderShip(responseBody[1]);
               }
           }, (status, responseBody) => {
               alert("Błąd " + status);
           })
       }
   }, false);

   function renderShip(responseBody) {
       var horizontalOrientation = [[${orientList}]][1];
       const table = document.createElement("table");
       table.id = "tableRes";
       table.className = "tableResponse";
       const tbBody = document.createElement("tbody");

       for (let i = 0; i < 10; i++) {

           const row = document.createElement("tr");
           row.className = "row";

           for (let j = 0; j < 10; j++) {

               const cell = document.createElement("td");
               cell.className = "cell";
               const button = document.createElement("button");
               button.className = "button";
               button.id = j+"&"+i
               button.addEventListener("click", function(event) {
                   adderShip(event);
               }, false);
               cell.appendChild(button);

               if(responseBody != null) {
                   for(let k = 0; k < responseBody.ships.length; k ++) {
                       if (responseBody.ships[k].position === horizontalOrientation) {

                           if (responseBody.ships[k].ystart === i && responseBody.ships[k].xstart >= j
                               && (responseBody.ships[k].xstart - responseBody.ships[k].length + 1) <= j)
                               cell.style.backgroundColor = "yellow";
                       } else {

                           if (responseBody.ships[k].xstart === j && responseBody.ships[k].ystart <= i
                               && (responseBody.ships[k].ystart + responseBody.ships[k].length - 1) >= i)
                               cell.style.backgroundColor = "yellow";
                       }
                   }
               }
               row.appendChild(cell);
           }
           tbBody.appendChild(row);
       }
       table.appendChild(tbBody);
       document.getElementById("renderTable").innerHTML = ""; // czyści diva
       document.getElementById("renderTable").appendChild(table);

       return table;
   }

   class BattleShipClient {
       addShip(length, xstart, ystart, position, onSuccess, onError) {
           var shipObject = {
               length: length,
               xstart: xstart,
               ystart: ystart,
               position: position
           };
           this.post("/json/addShip", JSON.stringify(shipObject), null, onSuccess, onError);
       }

       getSetupsBoard(onSuccess, onError) {
           this.get("/json/setup", null, null, onSuccess, onError);
       }

       getShips(onSuccess, onError) {
           this.get("/json/game/boards", null, null, onSuccess, onError);
       }

       deleteLastAddedShip(idBoard, onSuccess, onError) {
         this.delete("/json/deleteShip/"+idBoard, null, null, onSuccess, onError);
       }


       shooterShip(x, y, onSuccess, onError) {
           this.post("/game/boards", "x=" + x + "&y="+ y, null, onSuccess, onError)
       }
       getterStatusGame(onSuccess, onError) {
           this.get("/game/boards/isFinished", null, null, onSuccess, onError)
       }

       delete(path, body, progressUpdate, success, error) {
           this.call("delete", path, null, progressUpdate, success, error);
       }


       get(path, body, progressUpdate, success, error) {
           this.call("get", path, null, progressUpdate, success, error)
       }

       post(path, body, progressUpdate, success, error) {
           this.call("post", path, body, progressUpdate, success, error);
       }

       call(method, path, body, progressUpdate, success, error) {
           let request = new XMLHttpRequest();
           request.upload.addEventListener('progress', function (event) {
               if (event.lengthComputable) {
                   let progress = event.loaded / event.total;
                   if (progressUpdate != null)
                       progressUpdate(progress);
               }
           }, false);

           request.onreadystatechange = function () {
               if (this.readyState === XMLHttpRequest.DONE)
                   if (this.status >= 200 && this.status <= 299) {
                       let body = this.responseText != null && this.responseText.length > 0 ? JSON.parse(this.responseText) : null; //tutaj dostaję odpowiedź z serwera tylko zamiast Json jest to html i muszę go jakos przetworzyć i podać do metody success
                       //let body = this.responseText;
                       success(this.status, body);
                   } else if (error !== undefined)
                       error(this.status, this.responseText);
           };
           request.open(method.toUpperCase(), path, true);
           request.setRequestHeader('Content-type', 'application/json');
           request.send(body);
       }


   }

</script>
<!--src="/static/scriptSecAdd_Ship.js"-->
<script type="text/javascript">
    // var shipNumber =[[${shipLimit}]];
    var shipNumber;
    window.onload = setup();
    function setup() {
        var table;
        //zwracamy shipLimit, rozmiar planszy itp.
        // robię metode w kliencie pobierania tych danych i w tej funkcji będę miał je zwracane
        new BattleShipClient().getSetupsBoard((status, responseBody) => {
            shipNumber = responseBody;
        }, (status, responseBody) => {
            alert("Błąd przy pobieraniu ustawień " + responseBody)
        });
        table = renderShip(null);
        return  table;
    }
</script>
</body>
</html>

