<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Battle Ship add ship</title>

</head>
<body>
    <div id="responseServer" align="center">
        <h1>Add Ship</h1>
                <label>Wielkość statku: </label>
                <select id="len" th:name="length">
                    <option th:each="length :${shipSize}" th:value="${length}" th:text="${length}"></option>
                </select>

                <label>Orientacja: </label>
                <select id="orientation" th:name="position">
                    <option th:each="o :${orientList}" th:value="${o}" th:text="${o}"></option>
                </select>
            <br><br>

            <table style="background-color: blue" id="table" border="1" cellspacing="2" cellpadding="2">
                <tbody>
                <tr height="30"
                    th:each="row, Y : ${#numbers.sequence(1, 10)}">
                    <td  th:each="columne, X : ${#numbers.sequence(1, 10)}"
                        width="30"
                         th:style="${@gameService.shouldRender(X.index, Y.index) ? 'background:yellow' : 'background:blue'}"
                     >
                    <button th:id="|${X.index},${Y.index}|" th:name="coord" th:value="|${X.index},${Y.index}|" onclick="adderShip(event)"
                            style="height:33px;width:33px; background-color: blue"
                            th:style="${@gameService.shouldRender(X.index, Y.index) ? 'background:yellow' : 'background:blue'}"></button>
                    </td>
                </tr>
               </tbody>
            </table>
    </div>


    <script>
    function adderShip(event){
        var length = document.getElementById("len").value;
        var position =  document.getElementById("orientation").value;
        var xstart, ystart;
        var target = event.target,
                col,row,
            col = target.parentElement;
            row = col.parentElement;
            ystart = row.rowIndex;
            xstart = col.cellIndex;
            console.log("Współrzedne pierwsza metoda w skrypcie"+ " "+ ystart+" "+ xstart+ " length"+ length);

        new BattleShipClient().addShip(length, xstart, ystart, position, (status, responseBody) => {
            if(status >= 200 && status <= 299) {
                alert("Dodałeś statek!");
                document.getElementById("responseServer").innerHTML= responseBody;
                // window:location.replace("http://localhost:8080/startGame");
            }else {

            }

        }, (status, reposnseBody) => {
            if(status >= 400 && status <= 499) {
                alert("Błąd " + reposnseBody);
                window:location.replace("http://localhost:8080/startGame");
            } else if(status >= 500) {
                alert("Błąd" + reposnseBody);
                window:location.replace("http://localhost:8080/startGame");
            }

        });
    }
        class BattleShipClient {

            addShip(length, xstart, ystart, position, onSuccess, onError) {
                console.log("w addShip "+ length+" "+xstart+" "+ystart+" "+position);
                this.post("/addShip", "length=" + length + "&xstart=" + xstart + "&ystart=" + ystart + "&position=" + position, null, onSuccess, onError);
            }

            delete(path, body, progressUpdate, success, error) {
                this.call("delete", path, body, progressUpdate, success, error);
            }


            post(path, body, progressUpdate, success, error) {
                console.log("w post " + body);
                this.call("post", path, body, progressUpdate, success, error);
            }

            call(method, path, body, progressUpdate, success, error) {
                let request = new XMLHttpRequest();
                request.upload.addEventListener('progress', function (event) {
                    if (event.lengthComputable) {
                        let progress = event.loaded / event.total;
                        if (progressUpdate != null)
                            progressUpdate(progress);
                    }
                }, false);
                console.log("po progresie "+ body)
                request.onreadystatechange = function () {
                    if (this.readyState === XMLHttpRequest.DONE)
                        if (this.status >= 200 && this.status <= 299) {
                            // let body = this.responseText != null && this.responseText.length > 0 ? JSON.parse(this.responseText) : null; //tutaj dostaję odpowiedź z serwera tylko zamiast Json jest to html i muszę go jakos przetworzyć i podać do metody success
                            let body = this.responseText;
                            success(this.status, body);
                        } else if (error !== undefined)
                            error(this.status, this.responseText);
                };
                request.open(method.toUpperCase(), path, true);
                console.log("body przed wysłaniem do posta" +body)
                request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded; charset=UTF-8');
                request.send(body);
            }
        }
    </script>
</body>
</html>

