<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Battle Ship add ship</title>
</head>
<body>
    <div align="center">
        <h1>Add Ship</h1>
    </div>
    <div align="center">
        <form th:action="@{/startGame}" th:object="${newShip}" method="post">
            <p>Length:      <input type="text" th:field="*{length}"></p><br>
            <p>X:           <input type="text" th:field="*{xstart}"></p><br>
            <p>Y:           <input type="text" th:field="*{ystart}"></p><br>
            <p>Orientation: <input type="text" th:field="*{position}"></p><br>
            <p><input type="submit" value="add new ship"></p>
        </form>
    </div>
</body>
</html>