<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Added ship form</title>
</head>
<body>
    <div align="center">
        <h1>Added all ships!</h1>
        <a href="/startGame">
            <button class="GFG">
                Click Here to continue
            </button>
        </a>
        <br>
        <br>
        <table style="background-color: cornflowerblue" id="table" border="1" cellspacing="2" cellpadding="2">
            <tr height="30"
                th:each="row, Y : ${#numbers.sequence(1, 10)}">
                <td th:each="col, X : ${#numbers.sequence(1, 10)}"
                    width="30"
                    th:style="${@gameService.shouldRender(X.index, Y.index) ? 'background:yellow' : 'background:blue'}">

               </td>
            </tr>
        </table>
    </div>

</body>
</html>

