<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Added ship form</title>
</head>
<body>
    <div align="center">
        <h1 th:text="#{game}">Start game!</h1>
        <a href="/view/game">
            <button id = "game" class="GFG">
                Click here to continue
            </button>
        </a>
    </div>

</body>
</html>

