<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Main game</title>
    <link rel="stylesheet" href="/gameView.css"  type="text/css">
</head>
<body>

    <div id="container">
        <div id="boardPlayer1" aria-disabled="true"><h3>Board's Player 1</h3></div>

        <div id="boardPlayer2"><h3>Board's Player 2</h3></div>
    </div>

    <div class="overlay" id="id_resumeGame" hidden>
        <div class="confirm-box">
            <h2>Resume game?</h2>
            <button onclick="resumeGame()">Yes</button>
            <button onclick="startNewGame()">No</button>
        </div>
    </div>
    <input type=hidden id="user_id" th:value="${userId}">
    <input type=hidden id="game_id" th:value="${gameId}">
<div style="clear:both;"></div>

<script th:src="@{/battleShipClient.js}"></script>
<script th:src="@{/gameView_createBoard.js}"></script>
<script th:src="@{/gameView_shotLogic.js}"></script>

</body>
</html>