<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main game</title>
    <style>
        .tableShot
        {
            border: 2px solid;
            background-color: blue;
            width: 400px;
        }
        .rowShot
        {
            width: 50px;
            height: 30px;
            border: 1px solid;
        }
        .cellShot
        {
            width: 50px;
            height: 30px;
            border: 1px solid;
        }
        .buttonShot
        {
            height:23px;
            width:23px;
            background-color: blue;
        }
        #container
        {
            width: 1400px;
            margin-left: auto;
            margin-right: auto;
        }
        #boardPlayer1
        {
            float: left;
            width: 600px;
        }
        #boardPlayer2
        {
            float: left;
            width: 600px;
        }
    </style>
</head>
<body>

<div id="container">
    <div id="boardPlayer1" >
        <h3>Board's Player 1</h3>

    </div>
    <div id="boardPlayer2" >
        <h3>Board's Player 2</h3>
    </div>

    </div>

    <div style="clear:both;"></div>
</div>


<script>
    var ply1, ply2;
    ply1 = "ply1";
    ply2 = "ply2";

   onload = renderBoard(ply1);

   onload = renderBoard(ply2);
    // let battleShipClient = new BattleShipClient();
    function shotAtShip(event) {
        var target = event.target, col, row, shotX, shotY;
        col = target.parentElement;
        row = col.parentElement;
        shotY = row.rowIndex;
        shotX = col.cellIndex;
        console.log("W metodzie shotAtShip, wywołanej z addEven")

        new BattleShipClient().shooterShip(shotX, shotY, (status, responseBody) => {
            if(status >= 200 && status <= 299) {

                renderShot(responseBody[0], ply1)
                renderShot(responseBody[1], ply2)
            }
        }, (status, responseBody) => {
            alert("Błąd " + responseBody)
        });
    }

    function checkIfIsFinished() {
        new BattleShipClient().getterStatusGame((status, responseBody) => {
            if(responseBody === true) {
                alert("Koooooooooooooooniec");

                window.location.href = "/statistics";
            }
        }, (status, responseBody) => {

        })
    }

    function renderBoard(diff) {
        const tableShot = document.createElement("table");
        tableShot.id = "tableBoard";
        tableShot.className = "tableShot";
        const tbodyShot = document.createElement("tbody");

        for(let i = 0; i < 10; i++) {

            const rowShot = document.createElement("tr");
            rowShot.className = "row";

            for(let j = 0; j < 10; j ++) {

                const cellShot = document.createElement("td");
                cellShot.className = "cellShot";
                cellShot.id =diff + j+","+i;
                const buttonShot = document.createElement("button");
                buttonShot.id = j+"."+i + diff;
                buttonShot.className = "buttonShot";
                buttonShot.addEventListener("click", function(event) {
                    shotAtShip(event);
                }, false);
                cellShot.appendChild(buttonShot);

                rowShot.appendChild(cellShot);
            }
            tbodyShot.appendChild(rowShot);
        }
        tableShot.appendChild(tbodyShot);
        // document.getElementById("boardPlayer1").innerHTML = "";
        document.getElementById("boardPlayer1").appendChild(tableShot);
        document.getElementById("boardPlayer2").appendChild(tableShot);

    }

    function renderShot(responseBody, diff) {
        if(responseBody != null) {

            for(const shot of responseBody.opponentShots) {
                // w tym warunku chciałbym wykorzystać składnię -> shot.state.equals(Shot.State.HIT)
                if(shot.state === "HIT") {
                    document.getElementById(diff + shot.x+","+shot.y).style.backgroundColor = "red"
                    document.getElementById(shot.x+"."+shot.y + diff).style.backgroundColor = "red"
                    //muszę zrobić call do servera odpytując o wynik metody isFinished()
                    checkIfIsFinished()

                } else if(shot.state === "MISSED") {
                    document.getElementById(diff + shot.x+","+shot.y).style.backgroundColor = "black";
                    document.getElementById(shot.x+"."+shot.y + diff).style.backgroundColor = "black";
                }
            }
        }
    }

    class BattleShipClient {

        addShip(length, xstart, ystart, position, onSuccess, onError) {
            this.post("/addShip", "length=" + length + "&xstart=" + xstart + "&ystart=" + ystart + "&position=" + position, null, onSuccess, onError);
        }

        shooterShip(x, y, onSuccess, onError) {
            this.post("/game/boards", "x=" + x + "&y="+ y, null, onSuccess, onError)
        }
        getterStatusGame(onSuccess, onError) {
            this.get("/game/boards/isFinished", null, null, onSuccess, onError)
        }

        delete(path, body, progressUpdate, success, error) {
            this.call("delete", path, body, progressUpdate, success, error);
        }

        get(path, body, progressUpdate, success, error) {
            this.call("get", path, null, progressUpdate, success, error)
        }

        post(path, body, progressUpdate, success, error) {
            this.call("post", path, body, progressUpdate, success, error);
        }
        call(method, path, body, progressUpdate, success, error) {
            let request = new XMLHttpRequest();
            request.upload.addEventListener('progress', function (event) {
                if (event.lengthComputable) {
                    let progress = event.loaded / event.total;
                    if (progressUpdate != null)
                        progressUpdate(progress);
                }
            }, false);
            request.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE)
                    if (this.status >= 200 && this.status <= 299) {
                        let body = this.responseText != null && this.responseText.length > 0 ? JSON.parse(this.responseText) : null; //tutaj dostaję odpowiedź z serwera tylko zamiast Json jest to html i muszę go jakos przetworzyć i podać do metody success
                        //let body = this.responseText;
                        success(this.status, body);
                    } else if (error !== undefined)
                        error(this.status, this.responseText);
            };
            request.open(method.toUpperCase(), path, true);
            request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded; charset=UTF-8');  //'application/json' - dla wysyłania jsona
            // var data = JSON.stringify(body); // zmiana danych na jsona
            request.send(body);
        }



    }
</script>
</body>
</html>