<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"> <title>Zaloguj się</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="web/src/main/resources/static/styles/styleAuthorization.css" th:href="@{/styles/styleAuthorization.css}"/>

    <title>Registration form</title>
</head>
<body>
    <div class="container">
        <h1 class="login-header">Rejestracja</h1>
        <form class="login-form" th:action="@{/register}" th:object="${user}" method="post">
            <input placeholder="podaj imię" th:field="*{firstName}" class="form-item">
            <input placeholder="podaj nazwisko"  th:field="*{lastName}"  class="form-item">
            <input placeholder="podaj email"      th:field="*{email}"     class="form-item">
            <input placeholder="podaj hasło"   th:field="*{password}"  class="form-item">
        </form>
        <button type="submit" class="form=item">Zarejestruj się</button>
    </div>
</body>
</html>